<div class="container">
    <h2>BOOKING SUCCESSFUL</h2> 
<div class="row justify-content-center">
    <div class="col-md-8 order-md-1">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed" id="suc">
            <div>
              <h6 class="my-0" >Booking successful</h6>
            </div>
          </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Consultation</h6>
          </div>
          <span class="text-muted">R100</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Date</h6>
            <small class="text-muted">21 August 2021</small>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Time</h6>
            <small class="text-muted">09:00am - 12:00pm</small>
          </div>
        </li>
            </ul>    
            <div class="row justify-content-center">
                <a class="btn btn-block col-5" href="./home" id="continue">Continue shopping</a>  
            </div>
             
    </div>
  </div>
 