h2{
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Montserrat-Medium; 
    text-align: center;
}

.card{
    width: 300px;
    border: none; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
}



.card-img-top{
    height: 300px;
    width: 300px;
}

