
<div class="container"> 

    <h2>BLOG</h2>    
    <div class="row justify-content-around"> 
        
           <div class="card">
              <img class="card-img-top" src="../assets/images/sarah.jpg">
              <div class="card-body">
                 <h5 class="card-title">Card title</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="./entry" class="btn btn-outline-dark btn-sm">Read More</a>
              </div>
           </div>
       
           <div class="card">
            <img class="card-img-top" src="../assets/images/sarah.jpg">
            <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="./entry" class="btn btn-outline-dark btn-sm">Read More</a>
            </div>
         </div>
    
         <div class="card">
            <img class="card-img-top" src="../assets/images/sarah.jpg">
            <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <a href="./entry" class="btn btn-outline-dark btn-sm">Read More</a>
            </div>
         </div>
    
     </div>  
    </div>
    