<!-- <div id="page-content-wrapper">
    <div class="container-fluid">
        <h5>View Product </h5>
        <h6>Product Information</h6>  
                <fieldset disabled>
                    <form> 
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="productName">Name</label>
                            <input type="text" class="form-control" id="productName">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="productDescription">Description</label>
                            <input type="text" class="form-control" id="productDescription">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="productPrice">Price</label>
                            <input type="number" class="form-control" id="productPrice">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="productType">Product Type</label>
                            <select class="form-control" id="productType">
                            <option>Hair Oil</option>
                            <option>Hail Butter</option>
                            </select>
                          </div> 
                        </div>
                            <br>                            
                      </form>
                </fieldset>  

                        <a href="./update-product">
                            <button type="button" class="btn btn-success" id="three">Edit</button>
                        </a> 
                        <a href="./product">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        </a>                 
    </div>
</div>
 -->