<div class="container">
    <h2>CONSULTATION FORM</h2> 
      <div class="flex-container">
          <p>
              Studio hours me show you how being a virtuous woman today is possible –
              and my guess is you are already well on your way to living out God’s purpose for your life. 
              And that’s what Proverbs 31 Studio hours me show you how being a virtuous woman today is possible –
              and my guess is you are already well on your way to living out God’s purpose for your life. 
              And that’s what Proverbs 31
          </p>   
      </div>  
      <form>
            <div class="row justify-content-center">
            <div class="form-group col-10" id="desc">
                <label for="consDescription">Description</label>
                <input type="text" class="form-control" id="consDescription">
            </div>
   
            
            <div class="col-3">
                <a href="./consultation-payment" class=" btn btn-primary btn-block" id="two"> Submit  </a>  
          </div>    
          <div class="col-3">
                
                    <a href="./consultation" class=" btn btn-outline-primary btn-block" id="one"> Cancel  </a>  
                 
          </div>                    
        </div>       
      </form>
</div>      
     
  
  