<!-- <div id="page-content-wrapper">
    <div class="container-fluid">
        <h5>View Hair Length</h5>
        <h6>Hair Length Information</h6>  
                <fieldset disabled>
                    <form> 
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="hairLengthName">Name</label>
                          <input type="text" class="form-control" id="hairLengthName">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="hairLengthDesc">Description</label>
                          <input type="text" class="form-control" id="hairLengthDesc">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="hairLengthPrice">Price</label>
                          <input type="number" class="form-control" id="hairLengthPrice">
                        </div>
                      </div>
                            <br>                             
                      </form> 
                </fieldset>  

                        <a href="./update-hair-length">
                            <button type="button" class="btn btn-success" id="three">Edit</button>
                        </a> 
                        <a href="./hair-length">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        </a>                 
    </div>
</div>
 -->