<!-- <div id="page-content-wrapper">
    <div class="container-fluid">
        <h5>View Hair Condition</h5>
        <h6>Hair Condition Information</h6>  
      

                  <form [formGroup]="conditionForm"> 
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" formControlName="name" id="name">
                        </div>
                      </div>
                            <br>                             
                      </form>  
             

                        <a href="./hair-condition/update-hair-condition">
                            <button type="button" class="btn btn-success" id="three">Edit</button>
                        </a> 
                        <a href="./hair-condition">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        </a>                 
    </div>
</div>
 -->