<!-- <div id="page-content-wrapper">
    <div class="container-fluid">
        <h5>View Product Type</h5>
        <h6>Product Type Information</h6>  
                <fieldset disabled>
                    <form> 
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="prodTypeName">Name</label>
                            <input type="text" class="form-control" id="prodTypeName">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="prodTypeDesc">Description</label>
                            <input type="text" class="form-control" id="prodTypeDesc">
                          </div>
                        </div>
                            <br>                             
                      </form>
                </fieldset>  

                        <a href="./update-product-type">
                            <button type="button" class="btn btn-success" id="three">Edit</button>
                        </a> 
                        <a href="./product-type">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        </a>                 
    </div>
</div>
 -->