

  <div class="container">
    <div class="row">
      <div class="col-md-3 order-md-1 mb-4">
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./profile"> <h6 class="my-0">Profile</h6></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./client-orders"> <h6 class="my-0">Orders</h6></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./client-bookings"><h6 class="my-0">Bookings</h6></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./view-address"><h6 class="my-0">Address</h6></a>
            </div>
          </li>
      </ul>
      </div>
      <div class="col-md-8 order-md-2" id="big">
        <h4 class="mb-3">My profile</h4>
        <fieldset disabled>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Surname</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid surname is required.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="age">Age</label>
              <input type="date" class="form-control" id="age" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid age is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="gender">Gender</label>
              <select class="form-control" id="gender">
                <option>Female</option>
                <option>Male</option>
                <option>None-binary</option>
                <option>Transgender</option>
                <option>I prefer not to say</option> 
                </select>
              <div class="invalid-feedback">
                Valid gender is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="">
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>

          <div class="mb-3">
            <label for="phoneNumber">Phone number</label>
            <input type="number" class="form-control" id="phoneNumber" placeholder="" required>
            <div class="invalid-feedback">
              Please enter a valid phone number.
            </div>
          </div>
        </form>
      </fieldset>
        <a href="./update-profile">
          <button type="button" class="btn btn-outline-dark" id="cancel">Edit</button>
      </a>
      </div>
    </div>
  </div>


