<!-- <div id="page-content-wrapper">
    <div class="container-fluid">
        <h5>View User</h5>
        <h6>User Information</h6>  
                <fieldset disabled> 
                    <form> 
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="userFirstName">First Name</label>
                          <input type="text" class="form-control" id="userFirstName">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="userLastName">Last Name</label>
                          <input type="text" class="form-control" id="userLastName">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="userId">Id Number</label>
                          <input type="number" class="form-control" id="userId">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="userNr">Phone Number</label>
                          <input type="tel" class="form-control" id="userNr">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="userEmail">Email Address</label>
                          <input type="email" class="form-control" id="userEmail">
                        </div>
                      </div>
                            <br>                             
                      </form> 
                </fieldset>  

                        <a href="./update-user">
                            <button type="button" class="btn btn-success" id="three">Edit</button>
                        </a> 
                        <a href="./user">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        </a>                 
    </div>
</div>
 -->