<!-- <div id="page-content-wrapper">
    <div class="container-fluid">
        <h5>View Inventory Item</h5>
        <h6>Inventory Item Information</h6>  
                <fieldset disabled>
                    <form> 
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inventoryItemName">Name</label>
                          <input type="text" class="form-control" id="inventoryItemName">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inventoryItemDesc">Description</label>
                          <input type="text" class="form-control" id="inventoryItemDesc">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inventoryItemType">Inventory Type</label>
                          <select class="form-control" id="inventoryItemType">
                            <option value="">Select</option>
                            <option></option>
                          </select>
                        </div>
                      </div>
                            <br>                             
                      </form> 
                </fieldset>  

                        <a href="./update-inventory-item">
                            <button type="button" class="btn btn-success" id="three">Edit</button>
                        </a> 
                        <a href="./inventory-item">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        </a>                 
    </div>
</div>
 -->