<!-- <div id="page-content-wrapper">
    <div class="container-fluid">
        <h5>View Hair Density</h5>
        <h6>Hair Density Information</h6>  
                <fieldset disabled>
                    <form> 
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="hairDensityName">Name</label>
                          <input type="text" class="form-control" id="hairDensityName">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="hairDensityDesc">Description</label>
                          <input type="text" class="form-control" id="hairDensityDesc">
                        </div>
                      </div>
                            <br>                             
                      </form> 
                </fieldset>   

                        <a href="./update-hair-density">
                            <button type="button" class="btn btn-success" id="three">Edit</button>
                        </a> 
                        <a href="./hair-density">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                        </a>                 
    </div>
</div>
 -->