<div id="page-content-wrapper">
  <div class="container-fluid">
    <h5>Update Hair Condition</h5>
      <h6>Hair Condition Information</h6>   
        <form > 
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="conditionName">Name</label>
              <input type="text" class="form-control" formControlName="Name" id="Name" required>
            </div>
          </div>
          <br>
            <button type="submit" class="btn btn-success" id="three" >Submit</button>
              <a href="./hair-condition">       
                <button type="button" class="btn btn-outline-secondary">Cancel</button>        
              </a>                              
        </form> 
  </div>
</div>          


