<div class="reset"> 
    <div class="d-flex justify-content-center">
        <div class="holder">
            <div class="card">
             <h2>RESET PASSWORD</h2>   
            <article class="card-body">
                 <form>
                <div class="form-group">
                    <label>Email</label>
                    <input name="" class="form-control" type="email">
                    
                </div> 
                <br>
                <div class="form-group">
                     <a href="./new-password" class="btn btn-primary btn-block" id="two"> Reset Password</a>   
                </div>      
                <div class="mid">
                    <a href="./login">Back To Login</a>
                </div>
            </form>
            </article>
            </div> 
        </div>
    </div>
</div>
    
    
