 .reset{
   height: 100%;  
   background-repeat: no-repeat; 
   background-size: cover;
   background-position: center; 
 }  

.card{
 width: 400px;
}


h2{
 padding-top: 5%;
 font-family: Montserrat-Medium; 
 text-align: center;
}

 

 .holder{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 


 
.left{text-align: end;
}

.mid{
 
 text-align: center;
}

a{
 color: black;
}

a:link {
 color: black;
 background-color: transparent;
 text-decoration: none;
}

#two{
 background-color: #3A5627;
 border-color: #3A5627;
 color: white;
}

p{
 padding-top: 4px;
}

#two:hover {
 background-color: #2b411d;
}

#one{
 color: #3A5627;
 border: 1px solid #3A5627; 
}


#one:hover {
 background-color: #3A5627;
 border-color: #3A5627;
 color: white;
}



@media (max-width: 414px) {
  .card{
      margin-left: 0;
      border: none;
      box-shadow: none;
      top: 0;
      left: 0;
    } 
} 