<div id="page-content-wrapper">
    <div class="container-fluid">
        <h5>Create Product</h5> 
          <h6>Product Information</h6>      
            <form [formGroup]="productForm"(ngSubmit)="createProduct(productForm.value)">  
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" formControlName="ProductName" id="ProductName">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="Description">Description</label>
                    <input type="text" class="form-control" formControlName="ProductDescription" id="ProductDescription">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="Price">Price</label>
                    <input type="number" class="form-control" formControlName="ProductPrice" id="ProductPrice">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="Type">Product Type</label>
                    <select class="form-control" formControlName="Name" id="Type">
                    <option></option>
                    </select>
                  </div> 
                </div>

                <div class="row">
                  <div class="col-md-3 offset-md-3">
                    <div name="TypeID" name="fieldName" ngDefaultControl #TypeID = "ngModel" [(ngModel)]="apiService.productData.TypeID"class="form-group" (change) = "selectProductType($event.target)">
                      <label> Select Product Type </label>
                     <select class="form-control">
                      <option value ="0">---SELECT--- </option>
                       <option *ngFor = "let item of apiService.typeList" value="{{ item.TypeID }}"> {{ item.Name }} </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6 mb-3">
                      <p>Upload product image</p>
                       <input type="file" formControlName="PictureUrl" id="PictureUrl">
                  </div>
                </div>
                <br>
                  <button type="submit" class="btn btn-success" id="three"   [disabled]="!productForm.valid" >Submit</button>
                    <a href="./product">       
                      <button type="button" class="btn btn-outline-secondary">Cancel</button>        
                    </a>                              
            </form>       
    </div>
</div>
