<div class="jumbotron">
    <div class="container">
      <h1>CONSULTATIONS</h1>
    </div>
  </div>   
<h2>BOOK A CONSULTATION</h2>    
 <div class="row justify-content-center">
 <div class="para">
     <h4> Topics </h4>
        <p>
            Studio hours me show you how being a virtuous woman today is possible –
            and my guess is you are already well on your way to living out God’s purpose for your life. 
            And that’s what Proverbs 31 Studio hours me show you how being a virtuous woman today is possible –
            and my guess is you are already well on your way to living out God’s purpose for your life. 
            And that’s what Proverbs 31
        </p>
  <a href="./consultation-form" class="btn btn-primary btn-block" id="two">Read More</a>  
 </div> 
</div> 


<!-- <img src="../../../assets/reports/booking.pdf" -->

