/* .main{
    background-image: url("../../assets/images/front.png");
    height: 100%;  
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
  }
 
  #top{
    margin-top: 550px;
    margin-left: 65%;
  }  


  .button{
    background-color: #3A5627;
    font-family: Montserrat-Regular;
    border: none;
    color: white;
    padding: 15px 65px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button1:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



 .service{
  background-image: url("../../assets/images/butters.png");
  height: 100%;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center; 
}
 
#one{
    margin-top: 550px;
    margin-left: 10%;
}


.product{
  background-image: url("../../assets/images/oil.png");
  height: 100%;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center; 
}
 
#three{
    margin-top: 550px;
    margin-left: 54%;
}


 */