<div class="container">
    <h2>BOOKING SUCCESSFUL</h2> 
<div class="row justify-content-center">
    <div class="col-md-8 order-md-1">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed" id="suc">
            <div class="justify-content-center">
              <h6 class="my-0" >Payment received for the following booking</h6>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Session name</h6>
              <small class="text-muted">Protectige style session</small>
            </div>
            <span class="text-muted">R520</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Hair Length</h6>
              <small class="text-success">Armpit Length</small>
            </div>
            <span class="text-success">+R30</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Hair Condition</h6>
              <small class="text-success">My hair is very tangled</small>
            </div>
            <span class="text-success">+R60</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Hair Density</h6>
                <small class="text-muted">not sure</small>
              </div>
              <span class="text-muted">-</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Add Ons </h6>
                <small class="text-success">Blow dry</small>
              </div>
              <span class="text-success">+R30</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Date</h6>
                <small class="text-muted">21 August 2021</small>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Time</h6>
                <small class="text-muted">09:00am - 12:00pm</small>
              </div>
            </li>
            </ul>    
            <div class="row justify-content-center">
                <a class="btn btn-block col-5" href="./home" id="continue">Continue shopping</a>  
            </div>
             
    </div>
  </div>
 