
<div class="register">
    <h2>REGISTER</h2>
        <div class="d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <form> 
                        <div class="form-row">
                            <div class="form-group col-md-6 ">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="surname">Surname</label>
                                <input type="text" class="form-control" id="surname" required>
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="age">Age</label>
                                <input type="date" class="form-control" id="age" required>
                            </div>  
                                <div class="form-group col-md-6">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" id="gender" required>
                                    <option>Female</option>
                                    <option>Male</option>
                                    <option>None-binary</option>
                                    <option>Transgender</option>
                                    <option>I prefer not to say</option>
                                    </select>
                                </div>
                        </div>         
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" required> 
                            </div>
                            <div class="form-group">                   
                                <label for="phoneNumber">Phone Number</label>
                                <input class="form-control" type="tel" id="phoneNumber" required>
                            </div>
                            <div class="form-group">                   
                                <label for="password">Password</label>
                                <input class="form-control" type="password" id="password" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input name="" class="form-control" type="password" id="confirmPassword" required>
                            </div>  
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" id="two"> Sign Up </button>     
                            </div>               
                    </form>
                    <br>
                        <p class="float-left" >Already have an account?</p>
                        <a routerLink="./login" class="float-right btn btn-outline-primary" id="one">Login</a>
                </div>
            </div> 
        </div>
</div>
