<div id="page-content-wrapper">
  <div class="container-fluid">
    <h5>Create Hair Density</h5>
      <h6>Hair Density Information</h6>   
        <form [formGroup]="densityForm"(ngSubmit)="createDensity(densityForm.value)"> 
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="hairdensityName">Name</label>
              <input type="text" class="form-control" formControlName="Name" id="Name" required>
            </div>
          </div>
          <br>
            <button type="submit" class="btn btn-success" id="three"  [disabled]="!densityForm.valid">Submit</button>
              <a href="./hair-density">       
                <button type="button" class="btn btn-outline-secondary">Cancel</button>        
              </a>                              
        </form>        
    </div>
</div>