<div class="container">
    <div class="row">
      <div class="col-md-3 order-md-1 mb-4">
        <ul class="list-group mb-3" id="small">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./profile"><h6 class="my-0">Profile</h6></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./client-orders"> <h6 class="my-0">Orders</h6></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./client-bookings"><h6 class="my-0">Bookings</h6></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./view-address"><h6 class="my-0">Address</h6></a>
            </div>
          </li>
      </ul>
      </div> 
      <div class="col-md-8 order-md-2" id="big">
        <h4 class="mb-3">Update Address</h4>
        <form class="needs-validation" novalidate>
        
            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="province">Province</label>
                <select class="custom-select d-block w-100" id="province" required>
                  <option value="">Choose...</option>
                  <option>Gauteng</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid province.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="suburb">Suburb</label>
                <select class="custom-select d-block w-100" id="suburb" required>
                  <option value="">Choose...</option>
                  <option>Pretoria</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid suburb.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>
            <div class="but">
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#confirmationBox">Save</button>
                <a href="./profile">
            <button type="button" class="btn btn-outline-dark" id="cancel">cancel</button>
            </a>
            </div>
         </form>
      </div>
    </div>

    <div class="modal fade" id="confirmationBox" tabindex="-1" role="dialog" aria-labelledby="confirmationBoxTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="confirmationBoxLongTitle">Confirmation required</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            Confirm edited address details?
        </div>
        <div class="modal-footer" >
            <a href="./view-address">
                <button type="button" class="btn btn-dark">Confirm</button>
            </a>      
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    </div>
</div>  
</div>
