h2{ 
    padding-top: 7%;
    margin-bottom: 4%;
    font-family: Montserrat-Medium; 
    text-align: center;
}  



.list-group-item{
  background-color: #fcfcfc;
  
}

#continue{
  background-color: #222323;
  color: white;
  font-size: 16px;
   margin-top: 20px;
}

#voucher{
  background-color: #689C44;
}


#continue:hover{
  background-color: white;
  color: #222323;
  font-size: 16px;
  border-color: #222323;
 
}

#cancel:hover{
  background-color: #222323;
}

p{
  font-family: Montserrat-Regular; 
}

.flex-container{
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  padding-bottom: 5%;
}

.container{
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
   
.card{
  margin-bottom: 10px;
}

   
  
   
   
   
   
  
   