<div class="container">
    <div class="row">
      <div class="col-md-3 order-md-1 mb-4">
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./profile"> <h6 class="my-0">Profile</h6></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./client-orders"> <h6 class="my-0">Orders</h6></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./client-bookings"><h6 class="my-0">Bookings</h6></a>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <a href="./view-address"><h6 class="my-0">Address</h6></a>
            </div>
          </li>
      </ul> 
      </div>
      <div class="col-md-8 order-md-2" id="big">
        <h4 class="mb-3">My Booking</h4>
        <h6 class="mb-3">Bookings Information</h6>
      </div>
  </div>
</div>