<!-- 

<div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row" row justify-content-start>
        <div class="col-10 col-sm-10 col-md-10">
           <h5>Users </h5>
        </div>
            <div class="col-2">
                <div class="d-lg-none">
                              <a href="./add-user">
                      <button type="button" class="btn btn-success">Add</button>
                    </a>
            </div>
        </div>
      </div>

 
        <br>   

    
        <div class="row"> 
          <div class="col-md-9 col-lg-8" id="btn" >
            <div class="d-none d-lg-block">
                  <a href="./add-user">
                <button type="button" class="btn btn-success">Add</button>
              </a>
            </div>
 
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-3">                       
            <div class="form-group">
              <input name="" class="form-control"  type="search">
          </div>
        </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-1">            
            <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i> </button>           
          </div>
      </div>
             
           
                <br>
     
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">ID Number</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Actions</th>            
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Limpho</td>
                        <td>Khwezi </td>
                        <td>5616151841218</td>
                        <td>0756423569 </td>
                        <td>lkwezi@gmail.com</td>
                        <td> 
                          <a href="./view-user">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                          &nbsp;
                          <i class="bi bi-trash-fill" data-toggle="modal" data-target="#confirmationBox"></i>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Limpho</td>
                        <td>Khwezi </td>
                        <td>5616151841218</td>
                        <td>0756423569 </td>
                        <td>lkwezi@gmail.com</td>
                        <td> 
                          <a href="./view-user">
                            <i class="bi bi-pencil-square"></i>
                          </a>
                          &nbsp;
                          <i class="bi bi-trash-fill" data-toggle="modal" data-target="#confirmationBox"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
               </div>

                  <br>
                  <br>
                  
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>  
            
                  <div class="modal fade" id="confirmationBox" tabindex="-1" role="dialog" aria-labelledby="confirmationBoxTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="confirmationBoxLongTitle">Confirmation required</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete the user?
                        </div>
                        <div class="modal-footer" >
                            <a href="./user">
                                <button type="button" class="btn btn-success" >Confirm</button>
                            </a>      
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    </div>
                </div>



       
    </div>
</div>  



 -->